In [48]:
import pandas as pd

In [49]:
df = pd.read_excel('data/일별평균대기오염도_2010.xlsx')

In [50]:
df = df.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df = df.groupby('측정일시').mean()

In [51]:
df1 = pd.read_excel('data/일별평균대기오염도_2011.xlsx')
df1 = df1.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df1 = df1.groupby('측정일시').mean()

In [52]:
df2 = pd.read_excel('data/일별평균대기오염도_2012.xlsx')
df2 = df2.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df2 = df2.groupby('측정일시').mean()

In [53]:
df3 = pd.read_excel('data/일별평균대기오염도_2013.xlsx')
df3 = df3.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df3 = df3.groupby('측정일시').mean()

In [54]:
df4 = pd.read_excel('data/일별평균대기오염도_2014.xlsx')
df4 = df4.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df4 = df4.groupby('측정일시').mean()

In [55]:
df5 = pd.read_excel('data/일별평균대기오염도_2015.xlsx')
df5 = df5.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df5 = df5.groupby('측정일시').mean()

In [56]:
df6 = pd.read_excel('data/일별평균대기오염도_2016.xlsx')
df6 = df6.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df6 = df6.groupby('측정일시').mean()

In [57]:
df7 = pd.read_excel('data/일별평균대기오염도_2017.xlsx')
df7 = df7.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df7 = df7.groupby('측정일시').mean()

In [58]:
df8 = pd.read_csv('data/일별평균대기오염도_2018.csv', encoding='euc-kr')
df8 = df8.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df8 = df8.groupby('측정일시').mean()

In [59]:
df9 = pd.read_csv('data/일별평균대기오염도_2019.csv', encoding='euc-kr')
df9 = df9.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df9 = df9.groupby('측정일시').mean()

In [60]:
df10 = pd.read_csv('data/일별평균대기오염도_2020.csv', encoding='euc-kr')
df10 = df10.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df10 = df10.groupby('측정일시').mean()

In [61]:
df11 = pd.read_csv('data/일별평균대기오염도_2021.csv', encoding='euc-kr')
df11 = df11.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df11 = df11.groupby('측정일시').mean()

In [62]:
df12 = pd.read_csv('data/일별평균대기오염도_2022.csv', encoding='euc-kr')
df12 = df12.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df12 = df12.groupby('측정일시').mean()

In [63]:
df12.head()

,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
측정일시,,,,,,
20220101,0.03412,0.01278,0.624,0.00352,27.80,14.38
20220102,0.02966,0.01638,0.612,0.00334,35.32,23.58
20220103,0.03846,0.00894,0.660,0.00360,25.90,15.04
20220104,0.02618,0.01678,0.594,0.00372,35.00,19.60
20220105,0.04180,0.00664,0.812,0.00404,48.26,28.82

In [64]:
# 데이터프레임 리스트 생성
dataframes = [df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

# 각 데이터프레임에서 '측정일시'를 일반 컬럼으로 변환
dataframes = [df.reset_index() for df in dataframes]

# 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dataframes, ignore_index=True)

# 결과 확인
print(combined_df)

          측정일시  이산화질소농도(ppm)  오존농도(ppm)  이산화탄소농도(ppm)  아황산가스(ppm)  미세먼지(㎍/㎥)  \
0     20100101      0.038297   0.006973      0.656757    0.006919  34.297297
1     20100102      0.036243   0.009162      0.659459    0.007676  52.189189
2     20100103      0.036162   0.014189      0.675676    0.007378  48.405405
3     20100104      0.038459   0.011216      0.627027    0.005108  38.486486
4     20100105      0.029081   0.020297      0.535135    0.006351  48.756757
...        ...           ...        ...           ...         ...        ...
4743  20221227      0.046700   0.008260           NaN         NaN        NaN
4744  20221228      0.027920   0.017380           NaN         NaN        NaN
4745  20221229      0.032860   0.012900           NaN         NaN        NaN
4746  20221230      0.033660   0.014720           NaN         NaN        NaN
4747  20221231      0.041980   0.008300           NaN         NaN        NaN

      초미세먼지(㎍/㎥)  일산화탄소농도(ppm)  아황산가스농도(ppm)  미세먼지농도(㎍/㎥)  초미세먼지농도(㎍/㎥)
0            NaN           NaN           NaN          NaN           NaN
1            NaN           NaN           NaN          NaN           NaN
2            NaN           NaN           NaN          NaN           NaN
3            NaN           NaN           NaN          NaN           NaN
4            NaN           NaN           NaN          NaN           NaN
...          ...           ...           ...          ...           ...
4743         NaN         0.872       0.00366        49.08         36.00
4744         NaN         0.564       0.00352        34.92         20.46
4745         NaN         0.576       0.00380        30.10         17.84
4746         NaN         0.606       0.00360        38.20         26.94
4747         NaN         0.786       0.00378        43.18         32.22

[4748 rows x 11 columns]

In [72]:
combined_df.to_csv('data/일별대기오염합침.csv', index=False)

In [66]:
combined_df.columns

Index(['측정일시', '이산화질소농도(ppm)', '오존농도(ppm)', '이산화탄소농도(ppm)', '아황산가스(ppm)',
       '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)',
       '미세먼지농도(㎍/㎥)', '초미세먼지농도(㎍/㎥)'],
      dtype='object')

In [69]:
combined_df['이산화질소농도(ppm)'] = combined_df['이산화질소농도(ppm)'].round(3)
combined_df['오존농도(ppm)'] = combined_df['오존농도(ppm)'].round(3)
combined_df['일산화탄소농도(ppm)'] = combined_df['일산화탄소농도(ppm)'].round(1)
combined_df['아황산가스(ppm)'] = combined_df['아황산가스(ppm)'].round(3)
combined_df['미세먼지(㎍/㎥)'] = combined_df['미세먼지(㎍/㎥)'].round(0)
combined_df['초미세먼지(㎍/㎥)'] = combined_df['초미세먼지(㎍/㎥)'].round(0)

In [70]:
import re

def remove_non_korean_characters(column_name):
    return re.sub('[^가-힣]', '', column_name)

combined_df = combined_df.rename(columns={col: remove_non_korean_characters(col) for col in combined_df.columns})

In [71]:
combined_df

,측정일시,이산화질소농도,오존농도,이산화탄소농도,아황산가스,미세먼지,초미세먼지,일산화탄소농도,아황산가스농도,미세먼지농도,초미세먼지농도
0,20100101,0.038,0.007,0.656757,0.007,34.0,NaN,NaN,NaN,NaN,NaN
1,20100102,0.036,0.009,0.659459,0.008,52.0,NaN,NaN,NaN,NaN,NaN
2,20100103,0.036,0.014,0.675676,0.007,48.0,NaN,NaN,NaN,NaN,NaN
3,20100104,0.038,0.011,0.627027,0.005,38.0,NaN,NaN,NaN,NaN,NaN
4,20100105,0.029,0.020,0.535135,0.006,49.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4743,20221227,0.047,0.008,NaN,NaN,NaN,NaN,0.9,0.00366,49.08,36.00
4744,20221228,0.028,0.017,NaN,NaN,NaN,NaN,0.6,0.00352,34.92,20.46
4745,20221229,0.033,0.013,NaN,NaN,NaN,NaN,0.6,0.00380,30.10,17.84
4746,20221230,0.034,0.015,NaN,NaN,NaN,NaN,0.6,0.00360,38.20,26.94
4747,20221231,0.042,0.008,NaN,NaN,NaN,NaN,0.8,0.00378,43.18,32.22