In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('data/일별온도.csv', encoding='euc-kr', skiprows=8)

In [22]:
## https://data.kma.go.kr/climate/RankState/selectRankStatisticsDivisionList.do

In [23]:
df.tail(1)

    \t\t지점번호         지점명   일시  평균기온(℃) 최고기온(℃)  \t최고기온시각 최저기온(℃)  최저기온시각일교차
108       서울  2023-12-04  2.7      9.4   15:32      -3.0   07:50       12.4

In [24]:
df.to_csv('data/일별온도편집.csv', index=False)

In [25]:
# 데이터프레임의 열 이름 변경
df.columns = ['지점', '측정일시', '평균기온', '최고기온', '최고기온시간', '최저기온', '최저시간','일교차']

In [26]:
df.head(10)

     지점        측정일시  평균기온  최고기온 최고기온시간  최저기온   최저시간  일교차
108  서울  2010-01-01  -7.6  -3.6  15:01 -12.7  06:54  9.1
108  서울  2010-01-02  -3.6   0.2  15:24  -7.4  23:59  7.6
108  서울  2010-01-03  -6.8  -3.2  14:38 -10.5  07:48  7.3
108  서울  2010-01-04  -5.9  -3.4  14:25  -8.0  24:00  4.6
108  서울  2010-01-05  -9.9  -7.0  15:06 -12.3  23:33  5.3
108  서울  2010-01-06 -11.2  -8.1  13:50 -13.3  06:27  5.2
108  서울  2010-01-07 -10.1  -5.5  14:50 -13.6  05:54  8.1
108  서울  2010-01-08  -8.0  -3.3  15:09 -11.8  06:57  8.5
108  서울  2010-01-09  -5.1  -1.9  14:38  -8.7  05:28  6.8
108  서울  2010-01-10  -3.4  -0.3  14:18  -5.3  05:07  5.0

In [27]:
df = df.reset_index(drop=True)

In [28]:
df = df.drop(['최고기온시간', '최저시간','지점'], axis=1)

In [29]:
df.head(2)

         측정일시  평균기온  최고기온  최저기온  일교차
0  2010-01-01  -7.6  -3.6 -12.7  9.1
1  2010-01-02  -3.6   0.2  -7.4  7.6

In [30]:
df.tail(1)

            측정일시  평균기온  최고기온  최저기온   일교차
5085  2023-12-04   2.7   9.4  -3.0  12.4

In [31]:
# 측정일시를 datetime 형식으로 변환
df['측정일시'] = pd.to_datetime(df['측정일시'])

# datetime을 '연도월일' 형식의 문자열로 변환하고, 이를 int로 변환
df['측정일시'] = df['측정일시'].dt.strftime('%Y%m%d').astype('int64')

In [32]:
df['측정일시'].dtype

dtype('int64')

In [33]:
df1 = pd.read_csv('data/일별대기오염합침.csv')

In [34]:
df1.head(1)

       측정일시  이산화질소     오존  일산화탄소    아황산    미세  초미세
0  20100101  0.038  0.007    0.7  0.007  34.0  NaN

In [39]:
df2 = pd.read_csv('../1205.Api/data/23년.csv')

In [40]:
# 모든 데이터프레임을 리스트에 담기
dataframes = [df1, df2]

# concat 함수를 사용하여 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dataframes, ignore_index=True)

In [43]:
# df와 df1을 측정일시를 기준으로 병합
result_df = pd.merge(combined_df, df, on='측정일시', how='left')

In [44]:
result_df.head(1)

       측정일시  이산화질소     오존  일산화탄소    아황산    미세  초미세  평균기온  최고기온  최저기온  일교차
0  20100101  0.038  0.007    0.7  0.007  34.0  NaN  -7.6  -3.6 -12.7  9.1

In [46]:
result_df.tail(2)

          측정일시  이산화질소     오존  일산화탄소    아황산    미세   초미세  평균기온  최고기온  최저기온   일교차
5026  20231204  0.046  0.006    0.8  0.003  42.0  26.0   2.7   9.4  -3.0  12.4
5027  20231205  0.041  0.008    0.6  0.003  39.0  25.0   NaN   NaN   NaN   NaN

In [47]:
result_df.to_csv('data/일별대기오염온도합침.csv', index=False)