In [1]:
import pandas as pd

In [11]:
df1 = pd.read_csv('../data/test/구리.csv')
df2 = pd.read_csv('../data/test/납.csv')
df3 = pd.read_csv('../data/test/니켈.csv')
df4 = pd.read_csv('../data/test/망간.csv')
df5 = pd.read_csv('../data/test/비소.csv')
df6 = pd.read_csv('../data/test/철.csv')
df7 = pd.read_csv('../data/test/카드뮴.csv')
df8 = pd.read_csv('../data/test/크롬.csv')

In [19]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df4, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df5, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df6, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df7, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df8, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [ ]:
merged_df

In [23]:
# 년월별 그룹바이해서 NAN 값 대체 

for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df.groupby(['STD_YYYYMM'])[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [24]:
merged_df.isna().sum()

SIDO           0
STD_YYYYMM     0
AVG_구리        16
구리_BAD         0
AVG_납         16
납_0.5BAD       0
납_BAD          0
AVG_니켈        16
니켈_BAD         0
AVG_망간        16
망간_BAD         0
AVG_비소        16
비소_BAD         0
AVG_철         16
철_BAD          0
AVG_카드뮴       16
카드뮴_BAD        0
AVG_크롬        16
크롬_BAD         0
dtype: int64

In [26]:
# 마지막 남은 NAN 값 대체
for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [31]:
merged_df.tail()

,SIDO,STD_YYYYMM,AVG_구리,구리_BAD,AVG_납,납_0.5BAD,납_BAD,AVG_니켈,니켈_BAD,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
1947,충청남도,202302,0.0232,Y,0.0503,N,Y,0.0028,N,0.0341,Y,0.0273,Y,1.0027,Y,0.0005,N,0.0054,Y
1948,전라북도,202302,0.0138,N,0.0212,N,N,0.0015,N,0.0269,N,0.0065,Y,0.3214,N,0.0006,N,0.0026,N
1949,전라남도,202302,0.0180,Y,0.0190,N,N,0.0108,Y,0.0977,Y,0.0069,Y,1.9173,Y,0.0009,Y,0.0057,Y
1950,경상북도,202302,0.0120,N,0.0406,N,Y,0.0188,Y,0.0739,Y,0.0178,Y,0.5647,N,0.0015,Y,0.0028,N
1951,경상남도,202302,0.0111,N,0.0134,N,N,0.0032,N,0.0600,Y,0.0051,Y,0.4817,N,0.0006,N,0.0023,N

In [32]:
merged_df.head(1)

,SIDO,STD_YYYYMM,AVG_구리,구리_BAD,AVG_납,납_0.5BAD,납_BAD,AVG_니켈,니켈_BAD,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
0,서울특별시,201301,0.0306,Y,0.0894,N,Y,0.0033,N,0.036,Y,0.0086,Y,0.8287,Y,0.0035,Y,0.0035,N

In [30]:
# STD_YYYYMM의 값이 10000 이하인 행을 제거
merged_df = merged_df[merged_df['STD_YYYYMM'] > 10000]

In [29]:
merged_df['구리_BAD'].value_counts()

N    1278
Y     690
Name: 구리_BAD, dtype: int64

In [33]:
merged_df.to_csv('data/월별중금속합침2013-2023.csv', index=False)