In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/test/비염.csv')
df2 = pd.read_csv('../data/test/아토피.csv')
df3 = pd.read_csv('../data/test/천식.csv')

In [3]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [4]:
merged_df.isna().sum()

STD_YYYYMM    0
SIDO          0
비염환자수         0
아토피환자수        0
천식환자수         0
dtype: int64

In [5]:
merged_df.head()

   STD_YYYYMM   SIDO   비염환자수  아토피환자수  천식환자수
0      200601  서울특별시  234658   30449  53349
1      200602  서울특별시  190039   32459  47646
2      200603  서울특별시  281952   35248  64888
3      200604  서울특별시  270801   30866  70532
4      200605  서울특별시  223894   35524  60583

In [6]:
merged_df.tail()

      STD_YYYYMM     SIDO  비염환자수  아토피환자수  천식환자수
3463      202208  제주특별자치도  21942    2245   1752
3464      202209  제주특별자치도  22190    1986   2458
3465      202210  제주특별자치도  32033    1902   2886
3466      202211  제주특별자치도  27187    1801   2210
3467      202212  제주특별자치도  33172    1778   2289

In [7]:
merged_df.to_csv('data/월별질병합침2006-2022(뇌졸심근제거).csv', index=False)