In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('data/월별질병합침2014-2021.csv')
df2 = pd.read_csv('data/월별기온합침2000-2022.csv')
df3 = pd.read_csv('data/월별대기오염합침2015-2023.csv')
df4 = pd.read_csv('data/월별중금속합침2013-2023.csv')

In [4]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df4, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [ ]:
merged_df

In [23]:
# 년월별 그룹바이해서 NAN 값 대체 

for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df.groupby(['STD_YYYYMM'])[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [13]:
# 데이터프레임 내에 NaN 값이 있는지 확인
nan_exists = merged_df.isna().any().any()

# 결과 출력
print(f"merged_df에 NaN 값이 존재합니까? {nan_exists}")

merged_df에 NaN 값이 존재합니까? False

In [12]:
merged_df.isna().sum()

STD_YYYYMM     0
SIDO           0
비염환자수          0
심근경색           0
아토피환자수         0
천식환자수          0
뇌졸증            0
평균기온           0
평균상대습도         0
평균증기압          0
평균최고기온         0
평균최저기온         0
평균풍속           0
AVG_PM10       0
PM10_BAD       0
PM10_80BAD     0
AVG_PM2.5      0
PM2_BAD        0
PM2_35BAD      0
AVG_아황산        0
아황산_0.05BAD    0
아황산_BAD        0
AVG_이산화        0
이산화_0.06BAD    0
이산화_0.03BAD    0
이산화_BAD        0
AVG_일산화        0
일산화_9BAD       0
일산화_BAD        0
차량수            0
AVG_구리         0
구리_BAD         0
AVG_납          0
납_0.5BAD       0
납_BAD          0
AVG_니켈         0
니켈_BAD         0
AVG_망간         0
망간_BAD         0
AVG_비소         0
비소_BAD         0
AVG_철          0
철_BAD          0
AVG_카드뮴        0
카드뮴_BAD        0
AVG_크롬         0
크롬_BAD         0
dtype: int64

In [26]:
# 마지막 남은 NAN 값 대체
for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [8]:
merged_df.tail()

,STD_YYYYMM,SIDO,비염환자수,심근경색,아토피환자수,천식환자수,뇌졸증,평균기온,평균상대습도,평균증기압,...,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
1150,202107,경상남도,60192,166.0,8691,5779,519.0,26.3,81.3,27.4,...,0.0440,Y,0.0008,N,0.3119,N,0.0003,N,0.0056,Y
1151,202108,경상남도,55664,152.0,8394,5555,490.0,25.9,82.1,27.0,...,0.0259,N,0.0017,N,0.1499,N,0.0004,N,0.0027,N
1152,202109,경상남도,118285,174.0,7919,9041,489.0,22.1,81.1,21.3,...,0.0245,N,0.0014,N,0.2511,N,0.0005,N,0.0030,N
1153,202111,경상남도,133041,165.0,7299,10491,512.0,9.4,67.4,7.9,...,0.0078,N,0.0006,N,0.1389,N,0.0001,N,0.0012,N
1154,202112,경상남도,95404,177.0,7231,10645,498.0,3.5,58.6,4.9,...,0.0164,N,0.0014,N,0.3176,N,0.0004,N,0.0020,N

In [9]:
merged_df.head(1)

,STD_YYYYMM,SIDO,비염환자수,심근경색,아토피환자수,천식환자수,뇌졸증,평균기온,평균상대습도,평균증기압,...,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
0,201501,서울특별시,377167,550.0,28189,53718,1912.0,-0.9,56.0,3.4,...,0.0375,Y,0.0072,Y,0.8326,Y,0.0014,Y,0.0033,N

In [30]:
# STD_YYYYMM의 값이 10000 이하인 행을 제거
merged_df = merged_df[merged_df['STD_YYYYMM'] > 10000]

In [29]:
merged_df['구리_BAD'].value_counts()

N    1278
Y     690
Name: 구리_BAD, dtype: int64

In [14]:
merged_df.to_csv('data/월별데이터합침2015-2021.csv', index=False)