In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/test/평균기온.csv')
df2 = pd.read_csv('../data/test/평균상대습도.csv')
df3 = pd.read_csv('../data/test/평균증기압.csv')
df4 = pd.read_csv('../data/test/평균최고기온.csv')
df5 = pd.read_csv('../data/test/평균최저기온.csv')
df6 = pd.read_csv('../data/test/평균풍속.csv')

In [3]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df4, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df5, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df6, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [ ]:
merged_df

In [23]:
# 년월별 그룹바이해서 NAN 값 대체 

for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df.groupby(['STD_YYYYMM'])[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [4]:
merged_df.isna().sum()

SIDO          0
STD_YYYYMM    0
평균기온          0
평균상대습도        0
평균증기압         0
평균최고기온        0
평균최저기온        0
평균풍속          0
dtype: int64

In [26]:
# 마지막 남은 NAN 값 대체
for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [5]:
merged_df.tail()

         SIDO  STD_YYYYMM  평균기온  평균상대습도  평균증기압  평균최고기온  평균최저기온  평균풍속
4687    광주광역시      202212   1.1    63.0    4.1     5.5    -2.6   1.2
4688    부산광역시      202212   3.3    44.0    3.5     8.1    -0.3   3.3
4689     전라남도      202212   2.1    65.8    4.7     6.6    -1.9   3.0
4690  제주특별자치도      202212   6.8    66.0    6.6     9.8     4.0   4.7
4691  세종특별자치시      202212  -0.4    61.0    3.7     4.4    -4.7   2.2

In [6]:
merged_df.head(1)

  SIDO  STD_YYYYMM  평균기온  평균상대습도  평균증기압  평균최고기온  평균최저기온  평균풍속
0  강원도      200001  -2.7    66.3    3.4     2.0    -7.0   1.9

In [30]:
# STD_YYYYMM의 값이 10000 이하인 행을 제거
merged_df = merged_df[merged_df['STD_YYYYMM'] > 10000]

In [29]:
merged_df['구리_BAD'].value_counts()

N    1278
Y     690
Name: 구리_BAD, dtype: int64

In [8]:
merged_df.to_csv('data/월별기온합침2000-2022.csv', index=False)