In [15]:
import pandas as pd

In [16]:
df1 = pd.read_csv('../data/test/비염.csv')
df2 = pd.read_csv('../data/test/심근경색.csv')
df3 = pd.read_csv('../data/test/아토피.csv')
df4 = pd.read_csv('../data/test/천식.csv')
df5 = pd.read_csv('../data/test/뇌졸증.csv')

In [17]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df4, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df5, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [20]:
merged_df.isna().sum()

STD_YYYYMM    0
SIDO          0
비염환자수         0
심근경색          0
아토피환자수        0
천식환자수         0
뇌졸증           0
dtype: int64

In [18]:
merged_df.head()

   STD_YYYYMM   SIDO   비염환자수   심근경색  아토피환자수  천식환자수     뇌졸증
0      201401  서울특별시  446345  505.0   27596  60688  2012.0
1      201402  서울특별시  498315  509.0   27185  69514  1871.0
2      201403  서울특별시  397567  498.0   29439  61372  2003.0
3      201404  서울특별시  412948  475.0   31803  68498  1970.0
4      201405  서울특별시  313904  534.0   34314  54470  2037.0

In [19]:
merged_df.tail()

      STD_YYYYMM     SIDO  비염환자수  심근경색  아토피환자수  천식환자수    뇌졸증
1491      202107  제주특별자치도  14793  41.0    2355   1419  201.0
1492      202108  제주특별자치도  13909  41.0    2280   1427  176.0
1493      202109  제주특별자치도  16975  43.0    2123   1509  173.0
1494      202111  제주특별자치도  29778  48.0    2006   2808  158.0
1495      202112  제주특별자치도  19925  44.0    1903   2337  179.0

In [21]:
merged_df.to_csv('data/월별질병합침2014-2021.csv', index=False)