In [118]:
import pandas as pd

In [119]:
df = pd.read_csv('../data/오존 월별 도시별 대기오염도.csv', encoding='ansi')

In [120]:
df.tail(3)

,구분,항목,단위,2010.01 월,2010.02 월,2010.03 월,2010.04 월,2010.05 월,2010.06 월,2010.07 월,...,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,Unnamed: 161
171,제주,월평균,NaN,0.034,0.039,0.043,.045,.039,.039,.029,...,.036,.036,.031,.038,.041,.039,.036,0.0389,.0412,NaN
172,서귀포,월평균,NaN,0.040,0.042,0.052,.057,.054,.045,.035,...,.04,.037,.033,.042,.044,.044,.037,0.0402,.0432,NaN
173,도평균,월평균,NaN,0.036,0.040,0.046,.049,.044,.041,.031,...,.038,.036,.032,.04,.042,.042,.037,0.0395,.0421,NaN

In [121]:
long_df = df.melt(id_vars=['구분', '항목','단위'], 
                  var_name='STD_YYYYMM', 
                  value_name='오존')

In [122]:
long_df.head(3)

      구분   항목  단위 STD_YYYYMM     오존
0  서울특별시  월평균 NaN  2010.01 월  0.011
1  부산광역시  월평균 NaN  2010.01 월  0.021
2  대구광역시  월평균 NaN  2010.01 월  0.014

In [123]:
long_df.rename(columns={'구분': 'SIDO'}, inplace=True)

In [124]:
# 대체하고자 하는 도시 이름 목록
cities = [
    "수원", "안양", "성남", "의정부", "광명", "안산", "평택", "과천", "구리", "의왕",
    "고양", "광주", "군포", "시흥", "부천", "남양주", "용인", "김포", "오산", "하남",
    "화성", "양주", "동두천", "안성", "이천", "파주", "포천", "여주", "연천", "가평", "양평"
]

# '구분' 열에서 해당 도시 이름들을 '경기도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '경기도')

In [125]:
cities = [
    "양구", "고성", "정선", "횡성", "춘천", "강릉", "원주", "동해", "삼척", "평창", 
    "양양", "속초", "영월", "철원", "홍천", "화천", "태백", "인제"
]

# '구분' 열에서 해당 도시 이름들을 '강원도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '강원도')

In [126]:
# 대체하고자 하는 충청북도 도시 이름 목록
cities = [
    "괴산", "음성", "청주", "충주", "제천", "청원", "단양", "진천", "옥천", "영동", "증평", "보은"
]

# '구분' 열에서 해당 도시 이름들을 '충청북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '충청북도')

In [127]:
# 대체하고자 하는 충청남도 도시 이름 목록
cities = [
    "천안", "당진", "서산", "아산", "논산", "태안", "보령", "홍성", "공주", 
    "부여", "청양", "금산", "예산", "계룡", "서천"
]

# '구분' 열에서 해당 도시 이름들을 '충청남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '충청남도')

In [128]:
# 대체하고자 하는 전라북도 도시 이름 목록
cities = [
    "임실", "전주", "군산", "익산", "남원", "정읍", "고창", "부안", "김제", 
    "완주", "진안", "무주", "순창", "장수"
]

# '구분' 열에서 해당 도시 이름들을 '전라북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '전라북도')

In [129]:
# 대체하고자 하는 전라남도 도시 이름 목록
cities = [
    "화순", "여수", "광양", "순천", "목포", "영암", "나주", "담양", "장성", "해남", 
    "영광", "장흥", "진도", "완도", "함평", "고흥", "신안", "무안", "강진", "곡성", "구례", "보성"
]

# 'SIDO' 열에서 해당 도시 이름들을 '전라남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '전라남도')

In [130]:
# 대체하고자 하는 경상북도 도시 이름 목록
cities = [
    "영덕", "영천", "의성", "울릉도", "포항", "구미", "김천", "경주", "안동", "영주", 
    "경산", "상주", "칠곡", "울진", "봉화", "고령", "군위", "성주", "예천", "청도", 
    "청송", "영양", "문경"
]

# 'SIDO' 열에서 해당 도시 이름들을 '경상북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '경상북도')

In [131]:
# 대체하고자 하는 경상남도 도시 이름 목록
cities = [
    "창원", "마산", "진주", "진해", "하동", "김해", "양산", "거제", "사천", "밀양", 
    "통영", "거창", "함안", "함양", "남해", "산청", "의령", "창녕", "합천"
]

# 'SIDO' 열에서 해당 도시 이름들을 '경상남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '경상남도')

In [132]:
# 대체하고자 하는 경상남도 도시 이름 목록
cities = [
    "제주", "서귀포"
]

# 'SIDO' 열에서 해당 도시 이름들을 '제주특별자치도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '제주특별자치도')

In [133]:
long_df['SIDO'].value_counts()

SIDO
경기도        4929
경상북도       3657
전라남도       3498
강원도        3021
경상남도       3021
충청남도       2385
전라북도       2226
충청북도       1908
도평균        1431
제주특별자치도     318
부산광역시       159
세종특별자치시     159
울산광역시       159
대전광역시       159
광주광역시       159
인천광역시       159
대구광역시       159
서울특별시       159
Name: count, dtype: int64

In [134]:
long_df['오존'].dtype

dtype('O')

In [135]:
long_df['오존'] = pd.to_numeric(long_df['오존'], errors='coerce') 

# 오브젝트 타입에서의 변환

In [136]:
# SIDO, STD_YYYYMM 열을 기준으로 그룹바이 한후 PM10의 평균값을 새로운 콜롬에 저장
long_df['AVG_오존'] = long_df.groupby(['SIDO', 'STD_YYYYMM'])['오존'].transform('mean')

In [137]:
# 평균값을 소수점 넷째자리까지 반올림
long_df['AVG_오존'] = long_df['AVG_오존'].round(4)

In [138]:
long_df.to_csv('../data/test/오존.csv',index=False)

In [139]:
df2 = long_df.drop_duplicates(subset=['SIDO', 'STD_YYYYMM', 'AVG_오존'])
# SIDO와 STD_YYYYMM 열을 기준으로 중복을 제거
# 중복된 데이터를 제거하면 데이터가 정렬됨

In [140]:
# SIDO 열에 총계 또는 도평균을 포함하는 열을 필터링 
df2 = df2[~df2['SIDO'].str.contains('총계|도평균')]

In [141]:
# PM10 , 항목 , 단위 콜롬 제거
df2 = df2.drop(columns=['오존', '항목', '단위'])

In [142]:
# 'STD_YYYYMM' 열의 숫자가 아닌 문자를 제거
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].str.replace('[^\d]', '', regex=True)

In [143]:
# 결과를 정수 타입으로 변환
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].astype(int)

In [144]:
df2['STD_YYYYMM'].dtype

dtype('int32')

In [145]:
df2.to_csv('../data/test/오존.csv', index=False)

In [146]:
df2.head()

    SIDO  STD_YYYYMM  AVG_오존
0  서울특별시      201001   0.011
1  부산광역시      201001   0.021
2  대구광역시      201001   0.014
3  인천광역시      201001   0.014
4  광주광역시      201001   0.017

In [147]:
df2.tail()

          SIDO  STD_YYYYMM  AVG_오존
27580     전라북도         161     NaN
27595     전라남도         161     NaN
27618     경상북도         161     NaN
27642     경상남도         161     NaN
27663  제주특별자치도         161     NaN

In [148]:
import pandas as pd
import numpy as np

In [149]:
df = pd.read_csv('../data/test/오존.csv')
df.head()

    SIDO  STD_YYYYMM  AVG_오존
0  서울특별시      201001   0.011
1  부산광역시      201001   0.021
2  대구광역시      201001   0.014
3  인천광역시      201001   0.014
4  광주광역시      201001   0.017


대기 중 오존(O3)에 대한 대기환경 기준은 다음과 같습니다:

8시간평균치 0.06ppm 이하
1시간평균치 0.1ppm 이하

데이터의 해상도: 월별 평균이 일별 데이터를 기반으로 계산되었다면, 이는 각 날짜의 변동을 반영합니다. 따라서, 일별 변동성을 적절히 반영하는 기준치를 사용하는 것이 타당합니다.

짧은 기간 동안의 변화 포착: 일별 기준치는 짧은 기간 동안의 환경 변화를 더 잘 포착할 수 있습니다. 이는 특히 특정 사건이나 조건이 대기질에 미치는 영향을 이해하는 데 중요할 수 있습니다.

규제 및 건강 영향 고려: 일별 기준치는 단기간 동안의 대기질 변화가 건강에 미치는 영향을 평가하는 데 자주 사용됩니다. 따라서 공중 보건과 관련된 연구나 분석에는 이러한 기준이 더 적합할 수 있습니다.

In [150]:
# 'AVG_오존'의 값이 0.06 이하이거나 NaN이면 'N', 0.06 초과이면 'Y'를 '오존_BAD' 열에 할당
df['오존0.06_BAD'] = np.where((df['AVG_오존'] <= 0.06) | pd.isna(df['AVG_오존']), 'N', 'Y')

In [151]:
# 'AVG_오존'의 값이 0.1 이하이거나 NaN이면 'N', 0.1 초과이면 'Y'를 '오존_BAD' 열에 할당
df['오존0.1_BAD'] = np.where((df['AVG_오존'] <= 0.1) | pd.isna(df['AVG_오존']), 'N', 'Y')

In [152]:
df.head()

    SIDO  STD_YYYYMM  AVG_오존 오존0.06_BAD 오존0.1_BAD
0  서울특별시      201001   0.011          N         N
1  부산광역시      201001   0.021          N         N
2  대구광역시      201001   0.014          N         N
3  인천광역시      201001   0.014          N         N
4  광주광역시      201001   0.017          N         N

In [153]:
df.to_csv('../data/test/오존.csv', index=False)

오존의 8시간평균치기준, 1시간평균치기준은 모든 데이터가 측정치에 들어가므로 분석에 사용될수 없음.
그렇기 때문에

상대적 비교: 데이터셋 내에서의 상대적인 대기질을 비교하는 데 중요합니다. 이 방법은 데이터 내에서의 변동성을 포착하고, 특정 시기나 지역에서의 대기질 변화를 이해하는 데 도움이 됩니다.

특정 연구 목적: 연구의 목적이나 가설에 따라 데이터 내에서의 기준 설정이 필요할 수 있습니다. 예를 들어, 특정 지역 또는 시간대의 대기질 변화를 연구하는 경우에 적합할 수 있습니다.

데이터 특성 고려: 사용 가능한 데이터의 특성과 한계를 고려하여, 가장 적합한 분석 방법을 선택하는 것이 중요합니다.

그러나 이러한 접근 방법은 다음과 같은 제한 사항을 고려해야 합니다:

주관적 기준: 자체적으로 설정한 기준은 주관적일 수 있으며, 다른 연구나 데이터셋과의 비교가 어려울 수 있습니다.
외부 요인의 영향: 데이터의 평균치가 특정한 외부 요인(예: 계절적 변화, 특정 사건)의 영향을 받을 수 있으므로, 이러한 요인들을 고려해야 합니다.

In [154]:
# AVG_오존의 평균 계산
avg_오존 = df['AVG_오존'].mean()

# 조건에 따라 오존_BAD에 Y 또는 N 할당
df['오존_BAD'] = df['AVG_오존'].apply(lambda x: 'Y' if x > avg_오존 else 'N')

In [155]:
avg_오존

0.028784750957854405

In [156]:
df.to_csv('../data/test/오존.csv', index=False)