In [1]:
import pandas as pd

In [55]:
df = pd.read_csv('../data/납 월별 도시별 대기오염도.csv',encoding='ansi')

In [56]:
df.tail(3)

,구분,항목,단위,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,...,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,Unnamed: 125
109,장흥동,Pb,NaN,0.0682,0.0162,0.1004,0.0307,0.0591,0.0415,0.0219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,죽도동,Pb,NaN,0.0475,0.0097,0.0889,0.0249,0.0292,0.0096,0.0032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,3공단,Pb,NaN,0.0585,0.0192,0.1094,0.0318,0.0425,0.0234,0.0090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
long_df = df.melt(id_vars=['구분', '항목','단위'], 
                  var_name='STD_YYYYMM', 
                  value_name='납')

In [58]:
long_df.head(3)

    구분  항목  단위 STD_YYYYMM       납
0  대흥동  Pb NaN  2013.01 월  0.0839
1  성수동  Pb NaN  2013.01 월  0.0846
2  마포구  Pb NaN  2013.01 월     NaN

In [59]:
long_df.rename(columns={'구분': 'SIDO'}, inplace=True)

In [60]:
# 대체하고자 하는 도시 이름 목록
seoul_districts = ["대흥동", "성수동", "마포구", "광진구", "성동구", "구로구", "송파구", "방이동", "양재동"]

# 'SIDO' 열에서 해당 도시 이름들을 '서울특별시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(seoul_districts, '서울특별시')

In [61]:
# 대체하고자 하는 도시 이름 목록
busan_areas = ["학장동", "덕천동", "전포동", "연산동", "부곡동", "광안동"]

# 'SIDO' 열에서 해당 지역 이름들을 '부산광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(busan_areas, '부산광역시')

In [62]:
# 대체하고자 하는 지역 이름 목록
daegu_areas = ["수창동", "이현동", "대명동", "지산동", "달성산단"]

# 'SIDO' 열에서 해당 지역 이름들을 '대구광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(daegu_areas, '대구광역시')

In [63]:
# 대체하고자 하는 지역 이름 목록
incheon_areas = ["신흥", "구월동", "부평", "연희", "고잔"]

# 'SIDO' 열에서 해당 지역 이름들을 '인천광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(incheon_areas, '인천광역시')

In [64]:
# 대체하고자 하는 지역 이름 목록
gwangju_areas = ["농성동", "두암동", "건국동", "노대동", "평동", "서동"]

# 'SIDO' 열에서 해당 지역 이름들을 '광주광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gwangju_areas, '광주광역시')

In [65]:
# 대체하고자 하는 지역 이름 목록
daejeon_areas = ["읍내동", "문창동", "구성동", "정림동"]

# 'SIDO' 열에서 해당 지역 이름들을 '대전광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(daejeon_areas, '대전광역시')

In [66]:
# 대체하고자 하는 지역 이름 목록
ulsan_areas = ["여천동", "야음동", "신정동", "효문동", "덕신리", "전하동", "온산산단"]

# 'SIDO' 열에서 해당 지역 이름들을 '울산광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(ulsan_areas, '울산광역시')

In [67]:
# 대체하고자 하는 지역 이름 목록
sejong_areas = ["아름동"]

# 'SIDO' 열에서 해당 지역 이름들을 '세종특별자치시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(sejong_areas, '세종특별자치시')

In [68]:
# 대체하고자 하는 지역 이름 목록
gyeonggi_areas = ["신풍동", "상대원1동", "의정부1동", "원시동", "평택항", "고천동", "안성", "가산면", "가평읍"]

# 'SIDO' 열에서 해당 지역 이름들을 '경기도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gyeonggi_areas, '경기도')

In [69]:
# 대체하고자 하는 지역 이름 목록
gangwon_areas = ["중앙로", "신북읍1", "옥천동", "은하수로", "옥천동", "우산동", "문막공단", "금호동"]

# 'SIDO' 열에서 해당 지역 이름들을 '강원도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gangwon_areas, '강원도')

In [70]:
# 대체하고자 하는 지역 이름 목록
chungcheongbukdo_areas = ["송정동", "매포읍"]

# 'SIDO' 열에서 해당 지역 이름들을 '충청북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(chungcheongbukdo_areas, '충청북도')

In [71]:
# 대체하고자 하는 지역 이름 목록
chungcheongnamdo_areas = ["성황동", "송산면", "독곶리", "배방읍", "보령시"]

# 'SIDO' 열에서 해당 지역 이름들을 '충청남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(chungcheongnamdo_areas, '충청남도')

In [72]:
# 대체하고자 하는 지역 이름 목록
jeollabukdo_areas = ["삼천동", "팔봉동"]

# 'SIDO' 열에서 해당 지역 이름들을 '전라북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(jeollabukdo_areas, '전라북도')

In [73]:
# 대체하고자 하는 지역 이름 목록
jeollanamdo_areas = ["여천동", "쌍봉동", "묘도동", "율촌면", "중동", "신대리", "대불", "주삼동"]

# 'SIDO' 열에서 해당 지역 이름들을 '전라남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(jeollanamdo_areas, '전라남도')

In [74]:
# 대체하고자 하는 지역 이름 목록
gyeongsangbukdo_areas = ["장흥동", "장량동", "죽도동", "대송면", "3공단", "4공단", "석포면"]

# 'SIDO' 열에서 해당 지역 이름들을 '경상북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gyeongsangbukdo_areas, '경상북도')

In [75]:
# 대체하고자 하는 지역 이름 목록
gyeongsangnamdo_areas = ["명서동", "봉암동", "하동읍", "아주동"]

# 'SIDO' 열에서 해당 지역 이름들을 '경상남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gyeongsangnamdo_areas, '경상남도')

In [76]:
long_df.to_csv('data/test/납.csv', index=False)

In [77]:
long_df['납'].dtype

dtype('O')

In [78]:
long_df['납'] = pd.to_numeric(long_df['납'], errors='coerce') 

# 오브젝트 타입에서의 변환

In [79]:
# SIDO, STD_YYYYMM 열을 기준으로 그룹바이 한후 PM10의 평균값을 새로운 콜롬에 저장
long_df['AVG_납'] = long_df.groupby(['SIDO', 'STD_YYYYMM'])['납'].transform('mean')

In [80]:
# 평균값을 소수점 넷째자리까지 반올림
long_df['AVG_납'] = long_df['AVG_납'].round(4)

In [81]:
long_df.to_csv('data/test/납.csv',index=False)

In [82]:
df2 = long_df.drop_duplicates(subset=['SIDO', 'STD_YYYYMM', 'AVG_납'])
# SIDO와 STD_YYYYMM 열을 기준으로 중복을 제거
# 중복된 데이터를 제거하면 데이터가 정렬됨

In [83]:
# SIDO 열에 총계 또는 도평균을 포함하는 열을 필터링 
df2 = df2[~df2['SIDO'].str.contains('총계|도평균')]

In [84]:
# 납 , 항목 , 단위 콜롬 제거
df2 = df2.drop(columns=['납', '항목', '단위'])

In [85]:
# 'STD_YYYYMM' 열의 숫자가 아닌 문자를 제거
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].str.replace('[^\d]', '', regex=True)

In [86]:
# 결과를 정수 타입으로 변환
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].astype(int)

In [87]:
df2['STD_YYYYMM'].dtype

dtype('int32')

In [88]:
df2.to_csv('data/test/납.csv', index=False)

In [89]:
df2.head()

     SIDO  STD_YYYYMM   AVG_납
0   서울특별시      201301  0.0894
9   부산광역시      201301  0.0510
15  대구광역시      201301  0.0504
20  인천광역시      201301  0.1104
25  광주광역시      201301  0.0476

In [90]:
df2.tail()

       SIDO  STD_YYYYMM  AVG_납
13726  충청남도         125    NaN
13731  전라북도         125    NaN
13734  전라남도         125    NaN
13741  경상북도         125    NaN
13748  경상남도         125    NaN

In [91]:
import pandas as pd
import numpy as np

In [92]:
df = pd.read_csv('data/test/납.csv')
df.head()

    SIDO  STD_YYYYMM   AVG_납
0  서울특별시      201301  0.0894
1  부산광역시      201301  0.0510
2  대구광역시      201301  0.0504
3  인천광역시      201301  0.1104
4  광주광역시      201301  0.0476

In [93]:
# 'AVG_납'의 값이 0.5 이하이거나 NaN이면 'N', 0.5 초과이면 'Y'를 '납_0.5BAD' 열에 할당
df['납_0.5BAD'] = np.where((df['AVG_납'] <= 0.5) | pd.isna(df['AVG_납']), 'N', 'Y')

In [94]:
df.head()

    SIDO  STD_YYYYMM   AVG_납 납_0.5BAD
0  서울특별시      201301  0.0894        N
1  부산광역시      201301  0.0510        N
2  대구광역시      201301  0.0504        N
3  인천광역시      201301  0.1104        N
4  광주광역시      201301  0.0476        N

In [95]:
df.to_csv('data/test/납.csv', index=False)

In [96]:
df['납_0.5BAD'].value_counts()

납_0.5BAD
N    1968
Name: count, dtype: int64


대기 중 납(Pb)에 대한 대기환경 기준은 다음과 같습니다:

연간평균치 0.5㎍/㎥ 이하

"납의 기준치를 분석한 결과, 대부분의 데이터가 'N'으로 분류되어 있어, 'Y'와 'N' 사이의 비교가 불균형적입니다. 이로 인해, 납 농도의 영향을 정확하게 평가하기 어렵습니다. 데이터의 이러한 불균형은 통계적 분석의 신뢰도를 저하시킬 수 있으며, 따라서 추가 데이터를 수집하거나 다른 접근 방법을 고려할 필요가 있습니다."


데이터의 전체 평균을 기준으로 '납_BAD' 열에 'Y' 또는 'N'을 할당하는 방법은 여러 측면에서 분석에 적용될 수 있습니다:

상대적 비교: 데이터셋 내에서의 상대적인 대기질을 비교하는 데 중요합니다. 이 방법은 데이터 내에서의 변동성을 포착하고, 특정 시기나 지역에서의 대기질 변화를 이해하는 데 도움이 됩니다.

특정 연구 목적: 연구의 목적이나 가설에 따라 데이터 내에서의 기준 설정이 필요할 수 있습니다. 예를 들어, 특정 지역 또는 시간대의 대기질 변화를 연구하는 경우에 적합할 수 있습니다.

데이터 특성 고려: 사용 가능한 데이터의 특성과 한계를 고려하여, 가장 적합한 분석 방법을 선택하는 것이 중요합니다.

그러나 이러한 접근 방법은 다음과 같은 제한 사항을 고려해야 합니다:

주관적 기준: 자체적으로 설정한 기준은 주관적일 수 있으며, 다른 연구나 데이터셋과의 비교가 어려울 수 있습니다.
외부 요인의 영향: 데이터의 평균치가 특정한 외부 요인(예: 계절적 변화, 특정 사건)의 영향을 받을 수 있으므로, 이러한 요인들을 고려해야 합니다.

In [97]:
# AVG_납의 평균 계산
avg_납 = df['AVG_납'].mean()

# 조건에 따라 납_BAD에 Y 또는 N 할당
df['납_BAD'] = df['AVG_납'].apply(lambda x: 'Y' if x > avg_납 else 'N')

In [98]:
avg_납

0.022183690987124464

In [99]:
df['납_BAD'].value_counts()

납_BAD
N    1260
Y     708
Name: count, dtype: int64

In [100]:
df.to_csv('data/test/납.csv', index=False)