In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/1월.csv')

In [3]:
df1.head(1)

       측정일시 측정소명  이산화질소     오존  일산화탄소    아황산    미세   초미세
0  20230101  강남구  0.025  0.024    0.6  0.004  55.0  38.0

In [4]:
df2 = pd.read_csv('data/2월.csv')
df3 = pd.read_csv('data/3월.csv')
df4 = pd.read_csv('data/4월.csv')
df5 = pd.read_csv('data/5월.csv')
df6 = pd.read_csv('data/6월.csv')
df7 = pd.read_csv('data/7월.csv')
df8 = pd.read_csv('data/8월.csv')
df9 = pd.read_csv('data/9월.csv')
df10 = pd.read_csv('data/10월.csv')
df11 = pd.read_csv('data/11월.csv')
df12 = pd.read_csv('data/12월.csv')

In [5]:
# 모든 데이터프레임을 리스트에 담기
dataframes = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

# concat 함수를 사용하여 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dataframes, ignore_index=True)

# 결과 확인
print(combined_df)

           측정일시  측정소명   이산화질소      오존  일산화탄소     아황산    미세   초미세
0      20230101   강남구  0.0250  0.0240   0.60  0.0040  55.0  38.0
1      20230101  강남대로  0.0260  0.0200   0.60  0.0040  57.0  40.0
2      20230101   강동구  0.0280  0.0160   0.70  0.0030  59.0  46.0
3      20230101  강변북로  0.0320  0.0160   1.00  0.0030  54.0  40.0
4      20230101   강북구  0.0000  0.0250   0.70  0.0040  53.0  36.0
...         ...   ...     ...     ...    ...     ...   ...   ...
11435  20231211  천호대로  0.0178  0.0220   0.34  0.0024   7.0   4.0
11436  20231211  청계천로  0.0146  0.0237   0.41  0.0027   7.0   4.0
11437  20231211  한강대로  0.0178  0.0209   0.41  0.0025   7.0   4.0
11438  20231211   홍릉로  0.0179  0.0214   0.33  0.0028   7.0   3.0
11439  20231211   화랑로  0.0249  0.0150   0.39  0.0027   7.0   3.0

[11440 rows x 8 columns]

In [6]:
combined_df.isna().sum()

측정일시      0
측정소명      0
이산화질소    64
오존       66
일산화탄소    65
아황산      78
미세       70
초미세      78
dtype: int64

In [7]:
combined_df['측정일시'].dtype

dtype('int64')

In [8]:
combined_df = combined_df.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
combined_df = combined_df.groupby('측정일시').mean()

In [14]:
combined_df.tail()

         측정일시  이산화질소     오존  일산화탄소    아황산    미세   초미세
281  20231207  0.026  0.018    0.5  0.003  62.0  16.0
282  20231208  0.029  0.030    0.6  0.003  84.0  23.0
283  20231209  0.027  0.038    0.6  0.003  72.0  31.0
284  20231210  0.025  0.021    0.7  0.003  80.0  36.0
285  20231211  0.015  0.023    0.4  0.002   7.0   3.0

In [10]:
combined_df['이산화질소'] = combined_df['이산화질소'].round(3)
combined_df['오존'] = combined_df['오존'].round(3)
combined_df['일산화탄소'] = combined_df['일산화탄소'].round(1)
combined_df['아황산'] = combined_df['아황산'].round(3)
combined_df['미세'] = combined_df['미세'].round(0)
combined_df['초미세'] = combined_df['초미세'].round(0)

In [11]:
combined_df = combined_df.reset_index()

In [13]:
combined_df.to_csv('data/23년.csv', index=False)

In [12]:
combined_df.isna().sum()

측정일시     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64