In [27]:
import pandas as pd

In [28]:
df2 = pd.read_excel('data/일별평균대기오염도_2012.xlsx')
df2 = df2.dropna()
df2 = df2.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df2 = df2.groupby('측정일시').mean()

In [29]:
df3 = pd.read_excel('data/일별평균대기오염도_2013.xlsx')
df3 = df3.dropna()
df3 = df3.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df3 = df3.groupby('측정일시').mean()

In [30]:
df4 = pd.read_excel('data/일별평균대기오염도_2014.xlsx')
df4 = df4.dropna()
df4 = df4.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df4 = df4.groupby('측정일시').mean()

In [31]:
df5 = pd.read_excel('data/일별평균대기오염도_2015.xlsx')
df5 = df5.dropna()
df5 = df5.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df5 = df5.groupby('측정일시').mean()

In [32]:
df6 = pd.read_excel('data/일별평균대기오염도_2016.xlsx')
df6 = df6.dropna()
df6 = df6.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df6 = df6.groupby('측정일시').mean()

In [33]:
df7 = pd.read_excel('data/일별평균대기오염도_2017.xlsx')
df7 = df7.dropna()
df7 = df7.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df7 = df7.groupby('측정일시').mean()

In [34]:
# 데이터프레임 리스트 생성
dataframes = [df2, df3, df4, df5, df6, df7]

# 각 데이터프레임에서 '측정일시'를 일반 컬럼으로 변환
dataframes = [df.reset_index() for df in dataframes]

# 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dataframes, ignore_index=True)

In [35]:
# 데이터프레임의 열 이름 변경
combined_df.columns = ['측정일시', '이산화질소', '오존', '일산화탄소', '아황산', '미세', '초미세']

In [36]:
combined_df.columns

Index(['측정일시', '이산화질소', '오존', '일산화탄소', '아황산', '미세', '초미세'], dtype='object')

In [37]:
df8 = pd.read_csv('data/일별평균대기오염도_2018.csv', encoding='euc-kr')
df = df8.dropna()
df8 = df8.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df8 = df8.groupby('측정일시').mean()

In [38]:
df9 = pd.read_csv('data/일별평균대기오염도_2019.csv', encoding='euc-kr')
df9 = df9.dropna()
df9 = df9.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df9 = df9.groupby('측정일시').mean()

In [39]:
df10 = pd.read_csv('data/일별평균대기오염도_2020.csv', encoding='euc-kr')
df10 = df10.dropna()
df10 = df10.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df10 = df10.groupby('측정일시').mean()

In [40]:
df11 = pd.read_csv('data/일별평균대기오염도_2021.csv', encoding='euc-kr')
df11 = df11.dropna()
df11 = df11.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df11 = df11.groupby('측정일시').mean()

In [41]:
df12 = pd.read_csv('data/일별평균대기오염도_2022.csv', encoding='euc-kr')
df12 = df12.dropna()
df12 = df12.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
df12 = df12.groupby('측정일시').mean()

In [42]:
# 데이터프레임 리스트 생성
dataframes1 = [df8, df9, df10, df11, df12]

# 각 데이터프레임에서 '측정일시'를 일반 컬럼으로 변환
dataframes1 = [df.reset_index() for df in dataframes1]

# 모든 데이터프레임을 하나로 합치기
combined_df1 = pd.concat(dataframes1, ignore_index=True)

# 결과 확인
print(combined_df1)

          측정일시  이산화질소농도(ppm)  오존농도(ppm)  일산화탄소농도(ppm)  아황산가스농도(ppm)  \
0     20180101      0.035946   0.010081      0.644444      0.005784
1     20180102      0.040000   0.009622      0.770270      0.005595
2     20180103      0.026842   0.014500      0.500000      0.005368
3     20180104      0.038526   0.008737      0.623684      0.005500
4     20180105      0.046105   0.007105      0.755263      0.006079
...        ...           ...        ...           ...           ...
1821  20221227      0.046700   0.008260      0.872000      0.003660
1822  20221228      0.027920   0.017380      0.564000      0.003520
1823  20221229      0.032860   0.012900      0.576000      0.003800
1824  20221230      0.033660   0.014720      0.606000      0.003600
1825  20221231      0.041980   0.008300      0.786000      0.003780

      미세먼지농도(㎍/㎥)  초미세먼지농도(㎍/㎥)
0       44.542857     20.243243
1       43.027027     21.756757
2       36.815789     17.894737
3       48.210526     24.368421
4       60.210526     35.052632
...           ...           ...
1821    49.080000     36.000000
1822    34.920000     20.460000
1823    30.100000     17.840000
1824    38.200000     26.940000
1825    43.180000     32.220000

[1826 rows x 7 columns]

In [43]:
# 데이터프레임의 열 이름 변경
combined_df1.columns = ['측정일시', '이산화질소', '오존', '일산화탄소', '아황산', '미세', '초미세']

In [44]:
dataframes2 = [combined_df, combined_df1]
combined_df = pd.concat(dataframes2, ignore_index=True)

In [45]:
combined_df.tail(1)

          측정일시    이산화질소      오존  일산화탄소      아황산     미세    초미세
4017  20221231  0.04198  0.0083  0.786  0.00378  43.18  32.22

In [46]:
combined_df.to_csv('data/nan/일별대기오염합침.csv', index=False)

In [47]:
combined_df.columns

Index(['측정일시', '이산화질소', '오존', '일산화탄소', '아황산', '미세', '초미세'], dtype='object')

In [48]:
combined_df['이산화질소'] = combined_df['이산화질소'].round(3)
combined_df['오존'] = combined_df['오존'].round(4)
combined_df['일산화탄소'] = combined_df['일산화탄소'].round(2)
combined_df['아황산'] = combined_df['아황산'].round(4)
combined_df['미세'] = combined_df['미세'].round(1)
combined_df['초미세'] = combined_df['초미세'].round(1)

In [49]:
import re

def remove_non_korean_characters(column_name):
    return re.sub('[^가-힣]', '', column_name)

combined_df = combined_df.rename(columns={col: remove_non_korean_characters(col) for col in combined_df.columns})

In [50]:
combined_df

          측정일시  이산화질소      오존  일산화탄소     아황산     미세   초미세
0     20120101  0.031  0.0080   1.17  0.0093   88.3  57.3
1     20120102  0.036  0.0050   1.20  0.0087  100.0  62.7
2     20120103  0.041  0.0063   1.27  0.0073   96.0  63.0
3     20120104  0.024  0.0130   0.83  0.0103   70.3  42.0
4     20120105  0.037  0.0073   0.77  0.0063   53.3  29.3
...        ...    ...     ...    ...     ...    ...   ...
4013  20221227  0.047  0.0083   0.87  0.0037   49.1  36.0
4014  20221228  0.028  0.0174   0.56  0.0035   34.9  20.5
4015  20221229  0.033  0.0129   0.58  0.0038   30.1  17.8
4016  20221230  0.034  0.0147   0.61  0.0036   38.2  26.9
4017  20221231  0.042  0.0083   0.79  0.0038   43.2  32.2

[4018 rows x 7 columns]

In [51]:
combined_df.to_csv('data/nan/일별대기오염합침.csv', index=False)

In [52]:
combined_df['측정일시'].dtype

dtype('int64')

In [53]:
combined_df.isna().sum()

측정일시     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64