In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/일별평균대기오염도_2018.csv' , encoding='euc-kr')

In [7]:
df.isna().sum()

측정일시       0
측정소명       0
이산화질소    251
오존       267
일산화탄소    341
아황산      271
미세       430
초미세      422
dtype: int64

In [6]:
# 데이터프레임의 열 이름 변경
df.columns = ['측정일시','측정소명', '이산화질소', '오존', '일산화탄소', '아황산', '미세', '초미세']

In [8]:
# NaN 값을 포함하는 행만 선택
df_with_nan = df[df.isnull().any(axis=1)]

In [13]:
df_with_nan.to_csv('data/nan/2018nan대기오염.csv', index=False)

In [15]:
df_with_nan['측정소명'].value_counts()

영등포로    79
신촌로     73
천호대로    70
관악산     61
궁동      43
서대문구    35
청계천로    34
화랑로     33
광진구     27
송파구     15
용산구     15
도봉구     13
강동구     12
서초구     11
구로구     10
관악구     10
마포구      9
강남대로     7
정릉로      6
중랑구      5
성동구      5
동작대로     4
강변북로     3
동작구      2
노원구      2
종로       2
강서구      1
영등포구     1
성북구      1
양천구      1
종로구      1
Name: 측정소명, dtype: int64

In [16]:
# NaN 값을 포함하지 않는 행만 선택
df_without_nan = df.dropna()

In [17]:
df_without_nan['측정소명'].value_counts()

강남구     365
강북구     365
공항대로    365
홍릉로     365
한강대로    365
중구      365
금천구     365
은평구     365
도산대로    365
동대문구    365
성북구     364
강서구     364
종로구     364
영등포구    364
양천구     364
종로      363
동작구     363
노원구     363
강변북로    362
동작대로    361
성동구     360
중랑구     360
정릉로     359
강남대로    358
마포구     356
구로구     355
관악구     355
서초구     354
강동구     353
도봉구     352
용산구     350
송파구     350
광진구     338
화랑로     332
청계천로    331
서대문구    330
천호대로    295
신촌로     292
영등포로    286
남산       61
북한산      61
세곡       61
행주       61
시흥대로     36
궁동       18
Name: 측정소명, dtype: int64

In [18]:
df_without_nan.isna().sum()

측정일시     0
측정소명     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64