In [6]:
import pandas as pd

In [7]:
df1 = pd.read_csv('data/1월.csv')
df2 = pd.read_csv('data/2월.csv')
df3 = pd.read_csv('data/3월.csv')
df4 = pd.read_csv('data/4월.csv')
df5 = pd.read_csv('data/5월.csv')
df6 = pd.read_csv('data/6월.csv')
df7 = pd.read_csv('data/7월.csv')
df8 = pd.read_csv('data/8월.csv')
df9 = pd.read_csv('data/9월.csv')
df10 = pd.read_csv('data/10월.csv')
df11 = pd.read_csv('data/11월.csv')
df12 = pd.read_csv('data/12월.csv')

In [8]:
df1.dropna(inplace=True)
df2.dropna(inplace=True)
df3.dropna(inplace=True)
df4.dropna(inplace=True)
df5.dropna(inplace=True)
df6.dropna(inplace=True)
df7.dropna(inplace=True)
df8.dropna(inplace=True)
df9.dropna(inplace=True)
df10.dropna(inplace=True)
df11.dropna(inplace=True)
df12.dropna(inplace=True)

In [9]:
df1.isna().sum()

측정일시     0
측정소명     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64

In [10]:
# 모든 데이터프레임을 리스트에 담기
dataframes = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

# concat 함수를 사용하여 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dataframes, ignore_index=True)

# 결과 확인
print(combined_df)

           측정일시  측정소명   이산화질소      오존  일산화탄소     아황산    미세   초미세
0      20230101   강남구  0.0250  0.0240   0.60  0.0040  55.0  38.0
1      20230101  강남대로  0.0260  0.0200   0.60  0.0040  57.0  40.0
2      20230101   강동구  0.0280  0.0160   0.70  0.0030  59.0  46.0
3      20230101  강변북로  0.0320  0.0160   1.00  0.0030  54.0  40.0
4      20230101   강북구  0.0000  0.0250   0.70  0.0040  53.0  36.0
...         ...   ...     ...     ...    ...     ...   ...   ...
11335  20231211  천호대로  0.0178  0.0220   0.34  0.0024   7.0   4.0
11336  20231211  청계천로  0.0146  0.0237   0.41  0.0027   7.0   4.0
11337  20231211  한강대로  0.0178  0.0209   0.41  0.0025   7.0   4.0
11338  20231211   홍릉로  0.0179  0.0214   0.33  0.0028   7.0   3.0
11339  20231211   화랑로  0.0249  0.0150   0.39  0.0027   7.0   3.0

[11340 rows x 8 columns]

In [11]:
combined_df.isna().sum()

측정일시     0
측정소명     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64

In [12]:
combined_df['측정일시'].dtype

dtype('int64')

In [13]:
combined_df = combined_df.drop(columns=['측정소명'])
# 측정일시 별로 그룹화하여 평균 계산
combined_df = combined_df.groupby('측정일시').mean()

In [14]:
combined_df.tail()

             이산화질소        오존    일산화탄소       아황산      미세     초미세
측정일시
20231207  0.026490  0.018395  0.49725  0.003295  62.150  16.500
20231208  0.028758  0.029960  0.55875  0.003090  84.225  22.775
20231209  0.026665  0.037893  0.61350  0.002857  72.275  30.700
20231210  0.025020  0.020890  0.67350  0.002902  80.225  35.575
20231211  0.014952  0.022665  0.39925  0.002390   7.225   3.025

In [15]:
combined_df['이산화질소'] = combined_df['이산화질소'].round(3)
combined_df['오존'] = combined_df['오존'].round(4)
combined_df['일산화탄소'] = combined_df['일산화탄소'].round(2)
combined_df['아황산'] = combined_df['아황산'].round(4)
combined_df['미세'] = combined_df['미세'].round(1)
combined_df['초미세'] = combined_df['초미세'].round(1)

In [16]:
combined_df = combined_df.reset_index()

In [17]:
combined_df.to_csv('data/nan/23년.csv', index=False)

In [18]:
combined_df.isna().sum()

측정일시     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64

In [22]:
df11 = pd.read_csv('data/nan/일별대기오염합침.csv')
df22 = pd.read_csv('data/nan/23년.csv')

In [23]:
# 모든 데이터프레임을 리스트에 담기
dataframes = [df11, df22]

# concat 함수를 사용하여 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dataframes, ignore_index=True)

In [24]:
combined_df.head()

       측정일시  이산화질소      오존  일산화탄소     아황산     미세   초미세
0  20120101  0.031  0.0080   1.17  0.0093   88.3  57.3
1  20120102  0.036  0.0050   1.20  0.0087  100.0  62.7
2  20120103  0.041  0.0063   1.27  0.0073   96.0  63.0
3  20120104  0.024  0.0130   0.83  0.0103   70.3  42.0
4  20120105  0.037  0.0073   0.77  0.0063   53.3  29.3

In [29]:
combined_df.tail()

          측정일시  이산화질소      오존  일산화탄소     아황산    미세   초미세
4299  20231207  0.026  0.0184   0.50  0.0033  62.2  16.5
4300  20231208  0.029  0.0300   0.56  0.0031  84.2  22.8
4301  20231209  0.027  0.0379   0.61  0.0029  72.3  30.7
4302  20231210  0.025  0.0209   0.67  0.0029  80.2  35.6
4303  20231211  0.015  0.0227   0.40  0.0024   7.2   3.0

In [30]:
combined_df.isna().sum()

측정일시     0
이산화질소    0
오존       0
일산화탄소    0
아황산      0
미세       0
초미세      0
dtype: int64

In [31]:
combined_df.to_csv('data/nan/12-23대기오염nan처리.csv',index=False)