In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/납 월별 도시별 대기오염도.csv',encoding='ansi')

In [4]:
df.head(3)

,구분,항목,단위,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,...,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,Unnamed: 125
0,대흥동,Pb,NaN,0.0839,0.0959,0.1009,0.0940,0.1116,0.0676,0.0866,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,성수동,Pb,NaN,0.0846,0.0420,0.1215,0.1385,0.1506,0.1120,0.0342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,마포구,Pb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.0034,.0119,.0196,.0074,.0132,.0203,.0237,.0324,.04326,NaN

In [5]:
long_df = df.melt(id_vars=['구분', '항목','단위'], 
                  var_name='STD_YYYYMM', 
                  value_name='납')

In [6]:
long_df.head(3)

    구분  항목  단위 STD_YYYYMM       납
0  대흥동  Pb NaN  2013.01 월  0.0839
1  성수동  Pb NaN  2013.01 월  0.0846
2  마포구  Pb NaN  2013.01 월     NaN

In [7]:
long_df['납'] = pd.to_numeric(long_df['납'], errors='coerce')

In [14]:
# '년월' 열을 datetime 형식으로 변환
long_df['STD_YYYYMM'] = pd.to_datetime(long_df['STD_YYYYMM'])
# '년월'을 기준으로 그룹화하고 해당 그룹의 '납 수치'를 합산
result = df.groupby(df['STD_YYYYMM'].dt.to_period('M'))['납'].sum().reset_index()

ParserError: Unknown string format: 2013.01 월 present at position 0