In [53]:
import pandas as pd

In [72]:
df = pd.read_excel('data/이산화질소_월별_도시별_대기오염도_20231215115337.xlsx', header=None)
df.head(5)

c:\Users\young\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,구분(1),구분(2),2015.01,2015.02,2015.03,2015.04,2015.05,2015.06,2015.07,2015.08,...,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.120
1,총계,소계,0.028,0.026,0.028,0.023,0.023,0.019,0.015,0.017,...,0.017,0.013,0.011,0.009,0.009,0.009,0.01,0.013,0.019,0.019
2,서울특별시,서울특별시,0.037,0.036,0.04,0.033,0.032,0.025,0.021,0.023,...,0.026,0.02,0.015,0.013,0.014,0.013,0.016,0.02,0.028,0.028
3,부산광역시,부산광역시,0.022,0.02,0.021,0.019,0.025,0.019,0.016,0.018,...,0.018,0.016,0.015,0.01,0.012,0.011,0.01,0.013,0.019,0.017
4,대구광역시,대구광역시,0.031,0.026,0.027,0.019,0.018,0.016,0.014,0.016,...,0.018,0.013,0.011,0.008,0.008,0.009,0.01,0.014,0.025,0.023

In [73]:
#  구분(2) 행을 컬럼으로 지정
new_header = df.iloc[0]
df = df[1:]  # 3번째 행부터 데이터로 사용
df.columns = new_header
df.head(5)

,구분(1),구분(2),2015.01,2015.02,2015.03,2015.04,2015.05,2015.06,2015.07,2015.08,...,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12
1,총계,소계,0.028,0.026,0.028,0.023,0.023,0.019,0.015,0.017,...,0.017,0.013,0.011,0.009,0.009,0.009,0.01,0.013,0.019,0.019
2,서울특별시,서울특별시,0.037,0.036,0.04,0.033,0.032,0.025,0.021,0.023,...,0.026,0.02,0.015,0.013,0.014,0.013,0.016,0.02,0.028,0.028
3,부산광역시,부산광역시,0.022,0.02,0.021,0.019,0.025,0.019,0.016,0.018,...,0.018,0.016,0.015,0.01,0.012,0.011,0.01,0.013,0.019,0.017
4,대구광역시,대구광역시,0.031,0.026,0.027,0.019,0.018,0.016,0.014,0.016,...,0.018,0.013,0.011,0.008,0.008,0.009,0.01,0.014,0.025,0.023
5,인천광역시,인천광역시,0.03,0.029,0.033,0.03,0.026,0.022,0.018,0.017,...,0.024,0.018,0.014,0.012,0.012,0.011,0.015,0.019,0.026,0.024

In [76]:
# 결측치 확인
missing_values = df.isnull().sum()
print(missing_values)

0
구분(1)      154
구분(2)        0
2015.01      0
2015.02      0
2015.03      0
          ...
2022.08      0
2022.09      0
2022.10      0
2022.11      0
2022.12      0
Length: 98, dtype: int64

In [78]:
# 결측치를 0으로 대체
df_filled = df.fillna(0, inplace=True)

# 결과 출력
print("결측치를 0으로 대체한 데이터프레임:")
print(df_filled)

결측치를 0으로 대체한 데이터프레임:
None

In [81]:
# 년도와 월을 나타내는 컬럼명 리스트 생성
columns_to_keep = [f"구분(2)"] + [f"{year}.{month:02d}" for year in range(2018, 2023) for month in range(1, 13)]

# 원하는 컬럼만 남기기
df_filtered = df[columns_to_keep]

# '구분(2)' 컬럼을 이미 인덱스로 가지고 있는지 확인
if '구분(2)' in df_filtered.columns:
    # 이미 인덱스로 설정되어 있다면, 인덱스를 해제하고 컬럼 필터링
    df_filtered = df_filtered.reset_index().loc[:, columns_to_keep].set_index('구분(2)')


df_filtered.head(5)

KeyError: "['2022.12'] not in index"

In [80]:
# 년도와 월을 나타내는 컬럼명 리스트 생성
columns_to_keep = [f"구분(2)"] + [f"{year}.{month:02d}" for year in range(2018, 2023) for month in range(1, 13)]

# 원하는 컬럼만 남기기
df_filtered = df[columns_to_keep]

# '구분(2)' 컬럼을 인덱스로 설정
df_filtered.set_index('구분(2)', inplace=True)

df_filtered.head(5)

KeyError: "['2022.12'] not in index"

In [60]:
print(df[df['구분(2)'] == '2020.08'])

Empty DataFrame
Columns: [구분(1), 구분(2), 2015.01, 2015.02, 2015.03, 2015.04, 2015.05, 2015.06, 2015.07, 2015.08, 2015.09, 2015.10, 2015.11, 2015.12, 2016.01, 2016.02, 2016.03, 2016.04, 2016.05, 2016.06, 2016.07, 2016.08, 2016.09, 2016.10, 2016.11, 2016.12, 2017.01, 2017.02, 2017.03, 2017.04, 2017.05, 2017.06, 2017.07, 2017.08, 2017.09, 2017.10, 2017.11, 2017.12, 2018.01, 2018.02, 2018.03, 2018.04, 2018.05, 2018.06, 2018.07, 2018.08, 2018.09, 2018.10, 2018.11, 2018.12, 2019.01, 2019.02, 2019.03, 2019.04, 2019.05, 2019.06, 2019.07, 2019.08, 2019.09, 2019.10, 2019.11, 2019.12, 2020.01, 2020.02, 2020.03, 2020.04, 2020.05, 2020.06, 2020.07, 2020.08, 2020.09, 2020.10, 2020.11, 2020.12, 2021.01, 2021.02, 2021.03, 2021.04, 2021.05, 2021.06, 2021.07, 2021.08, 2021.09, 2021.10, 2021.11, 2021.12, 2022.01, 2022.02, 2022.03, 2022.04, 2022.05, 2022.06, 2022.07, 2022.08, 2022.09, 2022.10, 2022.11, 2022.12]
Index: []

[0 rows x 98 columns]

In [ ]:
# 소계 행만 남기고 나머지 행을 삭제합니다.
df_filtered = df_filtered.iloc[[0]]
df_filtered

,2018.01,2018.02,2018.03,2018.04,2018.05,2018.06,2018.07,2018.08,2018.09,2018.10,...,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12
구분(2),,,,,,,,,,,,,,,,,,,,,
소계,0.005,0.005,0.004,0.004,0.004,0.004,0.004,0.004,0.003,0.003,...,0.003,0.003,0.003,0.002,0.002,0.002,0.002,0.002,0.003,0.003

In [ ]:
# 변경된 데이터프레임을 'output.csv' 파일로 저장합니다.
df.to_csv('이산화질소.csv', index=False)