In [2]:
import pandas as pd

In [8]:
pop = pd.read_csv('data/측정좌표_최종.csv', encoding='utf-8')
pop.tail()

,Unnamed: 0,지역명,주소,위도,경도,광역시도,시군구,구읍,중복확인,측정소명
245,503,전북,전라북도 남원시 운봉읍 황산로 1083 운봉읍 행정복지센터 옥상,35.439304,127.529236,전라북도,남원시,운봉읍,남원,"운봉읍, 죽항동"
246,505,전북,전라북도 장수군 장수읍 호비로 10 장수군청 옥상,35.646981,127.521582,전라북도,장수군,장수읍,장수,장수읍
247,507,전북,전북 진안군 진안읍 진무로 1189 진안군 보건소 옥상,35.797309,127.434775,전라북도,진안군,진안읍,진안,진안읍
248,514,제주,제주특별자치도 서귀포시 일주서로 166 제주 유나이티드 연습구장 옆(지상) (강정동),33.253333,126.490949,제주특별자치도,서귀포시,일주서로,서귀포,"강정동, 남원읍, 대정읍, 동홍동, 성산읍"
249,519,제주,제주특별자치도 제주시 애월읍 고내리 1319 애월근린공원 옆,33.464689,126.331494,제주특별자치도,제주시,애월읍,제주,"애월읍, 연동, 이도동, 조천읍, 한림읍, 화북동"

In [7]:
df = pd.read_csv('data/카토그램.csv', encoding='utf-8')
df.tail()

     Unnamed: 0      ID     광역시도  시군구  격자 X  격자 Y  y   x
245         245      화천  강원특별자치도  화천군    72   139  0   8
246         246      양구  강원특별자치도  양구군    77   139  0   9
247         247      인제  강원특별자치도  인제군    80   138  1   9
248         248  고성(강원)  강원특별자치도  고성군    85   145  0  10
249         249      양양  강원특별자치도  양양군    88   138  2  10

In [10]:
# '중복확인' 열과 'ID' 열이 일치하는 경우, '측정소명' 열을 일치하는 행에 추가
df['측정소명'] = df['ID'].map(pop.set_index('중복확인')['측정소명'])
df

     Unnamed: 0      ID     광역시도  시군구  격자 X  격자 Y  y   x 측정소명
0             0   서울 종로    서울특별시  종로구    60   127  4   6  종로구
1             1   서울 중구    서울특별시   중구    60   127  5   6   중구
2             2   서울 용산    서울특별시  용산구    60   126  6   6  용산구
3             3   서울 성동    서울특별시  성동구    61   127  5   7  성동구
4             4   서울 광진    서울특별시  광진구    62   126  6   7  광진구
..          ...     ...      ...  ...   ...   ... ..  ..  ...
245         245      화천  강원특별자치도  화천군    72   139  0   8  화천읍
246         246      양구  강원특별자치도  양구군    77   139  0   9  양구읍
247         247      인제  강원특별자치도  인제군    80   138  1   9  인제읍
248         248  고성(강원)  강원특별자치도  고성군    85   145  0  10   상리
249         249      양양  강원특별자치도  양양군    88   138  2  10  양양읍

[250 rows x 9 columns]

In [11]:
# csv파일로 저장
df.to_csv('data/카토그램_최종.csv', encoding='utf-8', index=False)

In [16]:
df['측정소명'][0]
df.tail(15)

     Unnamed: 0      ID     광역시도  시군구  격자 X  격자 Y  y   x      측정소명
235         235      동해  강원특별자치도  동해시    97   127  4  11       천곡동
236         236      태백  강원특별자치도  태백시    95   119  7  10       황지동
237         237      속초  강원특별자치도  속초시    87   141  1  10       금호동
238         238      삼척  강원특별자치도  삼척시    98   125  5  11      남양동1
239         239      홍천  강원특별자치도  홍천군    75   130  2   8       홍천읍
240         240      횡성  강원특별자치도  횡성군    77   125  2   9  우천면, 횡성읍
241         241      영월  강원특별자치도  영월군    86   119  6  10       영월읍
242         242      평창  강원특별자치도  평창군    84   123  3  10       평창읍
243         243      정선  강원특별자치도  정선군    89   123  4  10       정선읍
244         244      철원  강원특별자치도  철원군    65   139  0   7       갈말읍
245         245      화천  강원특별자치도  화천군    72   139  0   8       화천읍
246         246      양구  강원특별자치도  양구군    77   139  0   9       양구읍
247         247      인제  강원특별자치도  인제군    80   138  1   9       인제읍
248         248  고성(강원)  강원특별자치도  고성군    85   145  0  10        상리
249         249      양양  강원특별자치도  양양군    88   138  2  10       양양읍