In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/구리.csv', encoding='ansi')

In [3]:
df.to_csv('data/구리.csv', index=False)

In [3]:
df.head(2)

,구분,항목,단위,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,...,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,Unnamed: 125
0,대흥동,Cu,NaN,0.0302,0.0236,0.0365,0.0290,0.0455,0.0155,.0082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,성수동,Cu,NaN,0.0282,0.0130,0.0557,0.0457,0.0848,0.0198,.029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
long_df = df.melt(id_vars=['구분', '항목','단위'], 
                  var_name='STD_YYYYMM', 
                  value_name='구리')

In [33]:
long_df.rename(columns={'구분': 'SIDO'}, inplace=True)

In [34]:
# 대체하고자 하는 도시 이름 목록
seoul_districts = ["대흥동", "성수동", "마포구", "광진구", "성동구", "구로구", "송파구", "방이동", "양재동"]

# 'SIDO' 열에서 해당 도시 이름들을 '서울특별시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(seoul_districts, '서울특별시')

In [35]:
# 대체하고자 하는 도시 이름 목록
busan_areas = ["학장동", "덕천동", "전포동", "연산동", "부곡동", "광안동"]

# 'SIDO' 열에서 해당 지역 이름들을 '부산광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(busan_areas, '부산광역시')

In [36]:
# 대체하고자 하는 지역 이름 목록
daegu_areas = ["수창동", "이현동", "대명동", "지산동", "달성산단"]

# 'SIDO' 열에서 해당 지역 이름들을 '대구광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(daegu_areas, '대구광역시')

In [37]:
# 대체하고자 하는 지역 이름 목록
incheon_areas = ["신흥", "구월동", "부평", "연희", "고잔"]

# 'SIDO' 열에서 해당 지역 이름들을 '인천광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(incheon_areas, '인천광역시')

In [38]:
# 대체하고자 하는 지역 이름 목록
gwangju_areas = ["농성동", "두암동", "건국동", "노대동", "평동", "서동"]

# 'SIDO' 열에서 해당 지역 이름들을 '광주광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gwangju_areas, '광주광역시')

In [39]:
# 대체하고자 하는 지역 이름 목록
daejeon_areas = ["읍내동", "문창동", "구성동", "정림동"]

# 'SIDO' 열에서 해당 지역 이름들을 '대전광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(daejeon_areas, '대전광역시')

In [40]:
# 대체하고자 하는 지역 이름 목록
ulsan_areas = ["여천동", "야음동", "신정동", "효문동", "덕신리", "전하동", "온산산단"]

# 'SIDO' 열에서 해당 지역 이름들을 '울산광역시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(ulsan_areas, '울산광역시')

In [41]:
# 대체하고자 하는 지역 이름 목록
sejong_areas = ["아름동"]

# 'SIDO' 열에서 해당 지역 이름들을 '세종특별자치시'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(sejong_areas, '세종특별자치시')

In [42]:
# 대체하고자 하는 지역 이름 목록
gyeonggi_areas = ["신풍동", "상대원1동", "의정부1동", "원시동", "평택항", "고천동", "안성", "가산면", "가평읍"]

# 'SIDO' 열에서 해당 지역 이름들을 '경기도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gyeonggi_areas, '경기도')

In [43]:
# 대체하고자 하는 지역 이름 목록
gangwon_areas = ["중앙로", "신북읍1", "옥천동", "은하수로", "옥천동", "우산동", "문막공단", "금호동"]

# 'SIDO' 열에서 해당 지역 이름들을 '강원도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gangwon_areas, '강원도')

In [44]:
# 대체하고자 하는 지역 이름 목록
chungcheongbukdo_areas = ["송정동", "매포읍"]

# 'SIDO' 열에서 해당 지역 이름들을 '충청북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(chungcheongbukdo_areas, '충청북도')

In [45]:
# 대체하고자 하는 지역 이름 목록
chungcheongnamdo_areas = ["성황동", "송산면", "독곶리", "배방읍", "보령시"]

# 'SIDO' 열에서 해당 지역 이름들을 '충청남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(chungcheongnamdo_areas, '충청남도')

In [46]:
# 대체하고자 하는 지역 이름 목록
jeollabukdo_areas = ["삼천동", "팔봉동"]

# 'SIDO' 열에서 해당 지역 이름들을 '전라북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(jeollabukdo_areas, '전라북도')

In [47]:
# 대체하고자 하는 지역 이름 목록
jeollanamdo_areas = ["여천동", "쌍봉동", "묘도동", "율촌면", "중동", "신대리", "대불", "주삼동"]

# 'SIDO' 열에서 해당 지역 이름들을 '전라남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(jeollanamdo_areas, '전라남도')

In [48]:
# 대체하고자 하는 지역 이름 목록
gyeongsangbukdo_areas = ["장흥동", "장량동", "죽도동", "대송면", "3공단", "4공단", "석포면"]

# 'SIDO' 열에서 해당 지역 이름들을 '경상북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gyeongsangbukdo_areas, '경상북도')

In [49]:
# 대체하고자 하는 지역 이름 목록
gyeongsangnamdo_areas = ["명서동", "봉암동", "하동읍", "아주동"]

# 'SIDO' 열에서 해당 지역 이름들을 '경상남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(gyeongsangnamdo_areas, '경상남도')

In [50]:
long_df.to_csv('data/test/구리.csv', index=False)

In [51]:

long_df['구리'].dtype

dtype('O')

In [52]:
long_df['구리'] = pd.to_numeric(long_df['구리'], errors='coerce') 

# 오브젝트 타입에서의 변환

In [53]:
# SIDO, STD_YYYYMM 열을 기준으로 그룹바이 한후 PM10의 평균값을 새로운 콜롬에 저장
long_df['AVG_구리'] = long_df.groupby(['SIDO', 'STD_YYYYMM'])['구리'].transform('mean').round(4)

In [54]:
long_df.to_csv('data/test/구리.csv',index=False)

In [55]:
df2 = long_df.drop_duplicates(subset=['SIDO', 'STD_YYYYMM', 'AVG_구리'])
# SIDO와 STD_YYYYMM 열을 기준으로 중복을 제거
# 중복된 데이터를 제거하면 데이터가 정렬됨

In [56]:
# SIDO 열에 총계 또는 도평균을 포함하는 열을 필터링 
df2 = df2[~df2['SIDO'].str.contains('총계|도평균')]

In [57]:
# 크롬 , 항목 , 단위 콜롬 제거
df2 = df2.drop(columns=['구리', '항목', '단위'])

In [58]:
# 'STD_YYYYMM' 열의 숫자가 아닌 문자를 제거
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].str.replace('[^\d]', '', regex=True)

In [59]:
# 결과를 정수 타입으로 변환
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].astype(int)

In [60]:
df2['STD_YYYYMM'].dtype

dtype('int32')

In [61]:
df2.to_csv('data/test/구리.csv', index=False)

In [62]:
df2.head()

     SIDO  STD_YYYYMM  AVG_구리
0   서울특별시      201301  0.0306
9   부산광역시      201301  0.0332
15  대구광역시      201301  0.0165
20  인천광역시      201301  0.0311
25  광주광역시      201301  0.0157

In [63]:
df = pd.read_csv('data/test/구리.csv')
df.head()

    SIDO  STD_YYYYMM  AVG_구리
0  서울특별시      201301  0.0306
1  부산광역시      201301  0.0332
2  대구광역시      201301  0.0165
3  인천광역시      201301  0.0311
4  광주광역시      201301  0.0157

In [64]:
# AVG_구리의 평균 계산
avg_구리 = df['AVG_구리'].mean()

# 조건에 따라 납_BAD에 Y 또는 N 할당
df['구리_BAD'] = df['AVG_구리'].apply(lambda x: 'Y' if x > avg_구리 else 'N')

In [65]:
df['구리_BAD'].value_counts()

구리_BAD
N    1278
Y     690
Name: count, dtype: int64

In [66]:
df.to_csv('data/test/구리.csv', index=False)