In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/일산화질소 월별 도시별 대기오염도.csv', encoding='ansi')
# 일산화질소 오타 일산화 탄소임

In [3]:
df.tail(3)

,구분,항목,단위,2010.01 월,2010.02 월,2010.03 월,2010.04 월,2010.05 월,2010.06 월,2010.07 월,...,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,Unnamed: 161
171,제주,월평균,NaN,0.4,0.4,0.4,.4,0.4,.3,.3,...,.2,.2,.2,.2,.2,.3,.3,.32,.34,NaN
172,서귀포,월평균,NaN,0.2,0.3,0.3,.3,0.4,.4,.3,...,.2,.3,.3,.3,.2,.3,.3,.31,.34,NaN
173,도평균,월평균,NaN,0.3,0.4,0.4,.4,0.4,.3,.3,...,.2,.2,.3,.2,.2,.3,.3,.31,.34,NaN

In [4]:
long_df = df.melt(id_vars=['구분', '항목','단위'], 
                  var_name='STD_YYYYMM', 
                  value_name='일산화')

In [5]:
long_df.head(3)

      구분   항목  단위 STD_YYYYMM  일산화
0  서울특별시  월평균 NaN  2010.01 월  0.8
1  부산광역시  월평균 NaN  2010.01 월  0.5
2  대구광역시  월평균 NaN  2010.01 월  0.7

In [6]:
long_df.rename(columns={'구분': 'SIDO'}, inplace=True)

In [7]:
# 대체하고자 하는 도시 이름 목록
cities = [
    "수원", "안양", "성남", "의정부", "광명", "안산", "평택", "과천", "구리", "의왕",
    "고양", "광주", "군포", "시흥", "부천", "남양주", "용인", "김포", "오산", "하남",
    "화성", "양주", "동두천", "안성", "이천", "파주", "포천", "여주", "연천", "가평", "양평"
]

# '구분' 열에서 해당 도시 이름들을 '경기도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '경기도')

In [8]:
cities = [
    "양구", "고성", "정선", "횡성", "춘천", "강릉", "원주", "동해", "삼척", "평창", 
    "양양", "속초", "영월", "철원", "홍천", "화천", "태백", "인제"
]

# '구분' 열에서 해당 도시 이름들을 '강원도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '강원도')

In [9]:
# 대체하고자 하는 충청북도 도시 이름 목록
cities = [
    "괴산", "음성", "청주", "충주", "제천", "청원", "단양", "진천", "옥천", "영동", "증평", "보은"
]

# '구분' 열에서 해당 도시 이름들을 '충청북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '충청북도')

In [10]:
# 대체하고자 하는 충청남도 도시 이름 목록
cities = [
    "천안", "당진", "서산", "아산", "논산", "태안", "보령", "홍성", "공주", 
    "부여", "청양", "금산", "예산", "계룡", "서천"
]

# '구분' 열에서 해당 도시 이름들을 '충청남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '충청남도')

In [11]:
# 대체하고자 하는 전라북도 도시 이름 목록
cities = [
    "임실", "전주", "군산", "익산", "남원", "정읍", "고창", "부안", "김제", 
    "완주", "진안", "무주", "순창", "장수"
]

# '구분' 열에서 해당 도시 이름들을 '전라북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '전라북도')

In [12]:
# 대체하고자 하는 전라남도 도시 이름 목록
cities = [
    "화순", "여수", "광양", "순천", "목포", "영암", "나주", "담양", "장성", "해남", 
    "영광", "장흥", "진도", "완도", "함평", "고흥", "신안", "무안", "강진", "곡성", "구례", "보성"
]

# 'SIDO' 열에서 해당 도시 이름들을 '전라남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '전라남도')

In [13]:
# 대체하고자 하는 경상북도 도시 이름 목록
cities = [
    "영덕", "영천", "의성", "울릉도", "포항", "구미", "김천", "경주", "안동", "영주", 
    "경산", "상주", "칠곡", "울진", "봉화", "고령", "군위", "성주", "예천", "청도", 
    "청송", "영양", "문경"
]

# 'SIDO' 열에서 해당 도시 이름들을 '경상북도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '경상북도')

In [14]:
# 대체하고자 하는 경상남도 도시 이름 목록
cities = [
    "창원", "마산", "진주", "진해", "하동", "김해", "양산", "거제", "사천", "밀양", 
    "통영", "강원도", "거창", "함안", "함양", "남해", "산청", "의령", "창녕", "합천"
]

# 'SIDO' 열에서 해당 도시 이름들을 '경상남도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '경상남도')

In [15]:
# 대체하고자 하는 경상남도 도시 이름 목록
cities = [
    "제주", "서귀포"
]

# 'SIDO' 열에서 해당 도시 이름들을 '제주특별자치도'로 변경
long_df['SIDO'] = long_df['SIDO'].replace(cities, '제주특별자치도')

In [16]:
long_df['일산화'].dtype

dtype('O')

In [17]:
long_df['일산화'] = pd.to_numeric(long_df['일산화'], errors='coerce') 

# 오브젝트 타입에서의 변환

In [18]:
# SIDO, STD_YYYYMM 열을 기준으로 그룹바이 한후 PM10의 평균값을 새로운 콜롬에 저장
long_df['AVG_일산화'] = long_df.groupby(['SIDO', 'STD_YYYYMM'])['일산화'].transform('mean')

In [19]:
# 평균값을 소수점 셋째자리까지 반올림
long_df['AVG_일산화'] = long_df['AVG_일산화'].round(3)

In [20]:
long_df.to_csv('data/test/일산화.csv',index=False)

In [21]:
df2 = long_df.drop_duplicates(subset=['SIDO', 'STD_YYYYMM', 'AVG_일산화'])
# SIDO와 STD_YYYYMM 열을 기준으로 중복을 제거
# 중복된 데이터를 제거하면 데이터가 정렬됨

In [22]:
# SIDO 열에 총계 또는 도평균을 포함하는 열을 필터링 
df2 = df2[~df2['SIDO'].str.contains('총계|도평균')]

In [23]:
# 일산화 , 항목 , 단위 콜롬 제거
df2 = df2.drop(columns=['일산화', '항목', '단위'])

In [24]:
# 'STD_YYYYMM' 열의 숫자가 아닌 문자를 제거
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].str.replace('[^\d]', '', regex=True)

In [25]:
# 결과를 정수 타입으로 변환
df2['STD_YYYYMM'] = df2['STD_YYYYMM'].astype(int)

In [26]:
df2['STD_YYYYMM'].dtype

dtype('int32')

In [27]:
df2.to_csv('data/test/일산화.csv', index=False)

In [28]:
df2.head()

    SIDO  STD_YYYYMM  AVG_일산화
0  서울특별시      201001      0.8
1  부산광역시      201001      0.5
2  대구광역시      201001      0.7
3  인천광역시      201001      0.9
4  광주광역시      201001      0.7

In [29]:
df2.tail()

          SIDO  STD_YYYYMM  AVG_일산화
27564     충청남도         161      NaN
27580     전라북도         161      NaN
27595     전라남도         161      NaN
27618     경상북도         161      NaN
27663  제주특별자치도         161      NaN

In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('data/test/일산화.csv')
df.head()

    SIDO  STD_YYYYMM  AVG_일산화
0  서울특별시      201001      0.8
1  부산광역시      201001      0.5
2  대구광역시      201001      0.7
3  인천광역시      201001      0.9
4  광주광역시      201001      0.7


대기 중 일산화탄소(CO)에 대한 대기환경 기준은 다음과 같습니다:

8시간평균치 9ppm 이하
1시간평균치 25ppm 이하

In [32]:
# 'AVG_일산화'의 값이 9 이하이거나 NaN이면 'N', 9 초과이면 'Y'를 '일산화_9BAD' 열에 할당
df['일산화_9BAD'] = np.where((df['AVG_일산화'] <= 9) | pd.isna(df['AVG_일산화']), 'N', 'Y')

In [34]:
df.head()

    SIDO  STD_YYYYMM  AVG_일산화 일산화_9BAD
0  서울특별시      201001      0.8        N
1  부산광역시      201001      0.5        N
2  대구광역시      201001      0.7        N
3  인천광역시      201001      0.9        N
4  광주광역시      201001      0.7        N

In [33]:
df.to_csv('data/test/일산화.csv', index=False)

In [35]:
df['일산화_9BAD'].value_counts()

일산화_9BAD
N    2544
Name: count, dtype: int64


대기 중 일산화탄소(CO)에 대한 대기환경 기준은 다음과 같습니다:

8시간평균치 9ppm 이하
1시간평균치 25ppm 이하
기준치가 늦은 8시간으로 해서

일산화질소의 기준치를 분석한 결과, 대부분의 데이터가 'N'으로 분류되어 있어, 'Y'와 'N' 사이의 비교가 불균형적입니다. 이로 인해, 일산화질소 농도의 영향을 정확하게 평가하기 어렵습니다. 데이터의 이러한 불균형은 통계적 분석의 신뢰도를 저하시킬 수 있으며, 따라서 추가 데이터를 수집하거나 다른 접근 방법을 고려할 필요가 있습니다.

상대적 비교: 데이터셋 내에서의 상대적인 대기질을 비교하는 데 중요합니다. 이 방법은 데이터 내에서의 변동성을 포착하고, 특정 시기나 지역에서의 대기질 변화를 이해하는 데 도움이 됩니다.

특정 연구 목적: 연구의 목적이나 가설에 따라 데이터 내에서의 기준 설정이 필요할 수 있습니다. 예를 들어, 특정 지역 또는 시간대의 대기질 변화를 연구하는 경우에 적합할 수 있습니다.

데이터 특성 고려: 사용 가능한 데이터의 특성과 한계를 고려하여, 가장 적합한 분석 방법을 선택하는 것이 중요합니다.

그러나 이러한 접근 방법은 다음과 같은 제한 사항을 고려해야 합니다:

주관적 기준: 자체적으로 설정한 기준은 주관적일 수 있으며, 다른 연구나 데이터셋과의 비교가 어려울 수 있습니다.
외부 요인의 영향: 데이터의 평균치가 특정한 외부 요인(예: 계절적 변화, 특정 사건)의 영향을 받을 수 있으므로, 이러한 요인들을 고려해야 합니다.

In [36]:
# AVG_일산화의 평균 계산
avg_일산화 = df['AVG_일산화'].mean()

# 조건에 따라 일산화_BAD에 Y 또는 N 할당
df['일산화_BAD'] = df['AVG_일산화'].apply(lambda x: 'Y' if x > avg_일산화 else 'N')

In [37]:
avg_일산화

0.4659330338913843

In [39]:
df['일산화_BAD'].value_counts()

일산화_BAD
N    1442
Y    1102
Name: count, dtype: int64

In [38]:
df.to_csv('data/test/일산화.csv', index=False)